/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
#boutons {
  /*display none en login*/
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
button {
  font-family: "Syne";
  font-weight: 700;
  text-align: center;
  border-radius: 60px;
  border: 2px solid #1d6154;
  background: #fffef8;
  margin: 10px;
  padding: 10px 20px;
  color: #1d6154;
}
button:focus {
  background-color: #1d6154;
  color: #fffef8;
  border: 2px solid #1d6154;
}

/* log in */
.logincard {
  margin-top: 8%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Work Sans";
  font-size: 14px;
}
#loginactive {
  font-weight: bolder;
}
.login {
  margin-top: 30px;
  padding: 20px;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.login h2 {
  text-align: center;
}
#msgerror {
  display: none;
  text-align: center;
  padding-top: 40px;
  color: #b1663c;
}

form {
  display: flex;
  flex-direction: column;
  color: black;
  margin-top: 50px;
}

.login label {
  margin-bottom: 6px;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 380px;
  text-align: center;
  margin-bottom: 40px;
  color: black;
  border: #fffef8;
  align-items: center;
  justify-content: center;
}
.login #btnconnection {
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  background: #1d6154;
  width: 180px;
  margin-bottom: 30px;
}
.loginbas {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/*liens*/
a {
  text-decoration: none;
  color: black;
}
/* lien nav login */
nav a:hover {
  color: #b1663c;
}
/* Login */
/* Partie Admin*/
#logout {
  display: none;
  padding-left: -20px;
}
/*mode edition nav*/

.editor {
  /*display flex pour l'admin*/
  padding: 15px;
  justify-content: center;
  display: none;
  flex-direction: row;
  background-color: black;
  width: 150%;
  margin-left: -28%;
}
.editor i {
  color: white;
  padding-right: 12px;
  margin-top: 2px;
}
.editor h2 {
  color: white;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*modifier les projets*/
.projetlogin {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.modifier {
  /* display flex pour modifier les projets Admin seulement*/
  display: none;
  flex-direction: row;
  padding-left: 28px;
  text-align: center;
}
.modifier i {
  color: black;
  padding-right: 8px;
  margin-top: 10px;
}
.modifier h2 {
  color: black;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}
/*modale*/
#modale {
  /*display flex via js*/
  display: none;
}
.containermodale {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}
.modale {
  border-radius: 10px;
  background: #FFF; 
  width: 630px;
  height: 670px; 
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.modale1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.modale2 {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.modale h2 {
color: #000;
padding-top: 45px;
padding-bottom: 15px;
text-align: center;
font-family: "Work Sans";
font-style: normal;
font-weight: 400;
line-height: normal;
}
.modale1 input {
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  border: #1d6154;
  background: #1d6154;
  width: 180px;
  margin-bottom: 30px;
  padding: 10px 20px;
}

/* Ajouter un projet */
/* Ensemble de la modale */
.modale2box {
  width: 420px;
}
.form-group-photo {
  width: 420px;
  height: 169px;
  border-radius: 3px;
  background: #E8F1F6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.imgInput {
  width: 180px;
  height: 50px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}

.imgLabel {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #306685;
  text-align: center;
  font-family: "Work Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  padding: 10px 28px;
  border-radius: 50px;
  background: #CBD6DC;
}

.fa-image {
  font-size: 76px;
  align-items: center;
  margin-top: 3px;
  color: #B9C5CC;
}
#taillemaxphoto {
  color: #444;
  text-align: center;
  font-family: "Work Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#preview {
  display: none;
  width: 130px;
  height: 169px;
  }

.modale2box input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  text-align: center;
  margin-bottom: 40px;
  color: black;
  border: #fffef8;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 30px;
  color: #444;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modale2 select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  text-align: left;
  margin-bottom: 40px;
  color: black;
  background-color: #FFF;
  border: #fffef8;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  color: #444;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modale2box label {
margin-bottom: 10px;
}
.form-group-title {
  text-align: left;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.form-group-id {
  text-align: left;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
option {
color: #444;
font-family: "Work Sans";
font-style: normal;
font-weight: 400;
line-height: normal;
}

#valider {
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  border: #1d6154;
  background: #1d6154;
  width: 180px;
  margin-bottom: 30px;
  padding: 10px 20px;
}

#ligne {
  border-top: 2px solid #B3B3B3;
  width: 420px; 
}
.fa-xmark {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 25px;
}
.fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 25px;
  }

/* Travaux dans la modale*/
.galleryModale {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  align-self: center;
}
.modale1 #ligne {
  align-self: center;
}
.galleryModale img {
  width: 85px;
  height: 120px;
  object-fit: cover;
  padding: 5px;
  align-self: start;
  position: static;
}
.poubelle {
  background-color: #000000af;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  display: flex;
}
.poubelle:hover {
  background-color: black;
}
.galleryModale p {
  position: relative;
  top: -122px;
  right: -63px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.fa-trash-can {
  color: #FFF;
}



